body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f8f9fa;
    padding: 40px 0;
    text-align: center;
  }
  
  .profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .social-media .btn {
    margin-right: 10px;
  }

    /* Add this rule to change the color of social media icons to grey */
  .social-media .btn i {
    color: grey;
  }


  
  section {
    padding: 80px 0;
  }
  
  section h2 {
    margin-bottom: 30px;
  }
  
  .navbar {
    margin-bottom: 30px;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  @media (max-width: 767px) {
    header {
      padding: 20px 0;
    }
    .profile-photo {
      width: 150px;
      height: 150px;
    }
    section {
      padding: 40px 0;
    }
  }
